.loading1 {
  --color: var(--primary-color);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: rotateZ(0deg);
  border: 4px var(--color) solid;
  border-top: 4px transparent solid;
  animation: animation1 800ms linear 0s infinite forwards;
}

.light {
  --color: #fff;
}

@keyframes animation1 {
  to {
    transform: rotateZ(360deg);
  }
}