.close_button1 {
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 
  0px 4px 12px rgba(0, 0, 0, 0.05),
  0px -4px 12px rgba(0, 0, 0, 0.05);


  .icon {
    width: 20px;
    height: 20px;
  }
}

.small {
  width: 24px;
  height: 24px;

  .icon {
    width: 16px;
    height: 16px;
  }
}

.close_button1:active {
  background-color: #e9e9ee;
}