.modal_base1 {
  top: 0px;
  left: 0px;
  width: 100vw;
  display: flex;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
}