.child_form_barside1 {
  width: var(--form-barside-width);
  height: 100vh;
  display: flex;
  padding: 32px 32px;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  background-color: var(--primary-color);

  .sentence {
    width: 100%;
    color: #fff;
    font-size: 24px;
    box-sizing: border-box;
    text-transform: uppercase;
    
    .bold {
      font-weight: 600;
    }

    .bold_secundary {
      font-weight: 600;
      color: var(--secundary-color);
    }
  }

  .figure1 {
    left: -180px;
    bottom: 0px;
    width: 550px;
    position: absolute;
  }
}