.field {
  width: 100%;
  display: flex;
  flex-direction: column;

  .input {
    width: 100%;
    font-weight: 500;
    padding: 0px 12px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px #e5e5ee solid;
    height: var(--form-input-height);
  }

  .error {
    color: #f00;
    font-size: 14px;
  }
}